@using Dapr.Client
@using System.Net.Http
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
Data retrieved from backend:

<ul>
    @if (names == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var item in names)
        {
            <li>@item</li>
        }
    }
</ul>
</p>

<br>
<br>

<input @bind="newName"/>
<button @onclick="UpdateNamesInBackendAsync">Post to backend</button>

@code {

    private IEnumerable<string> names;
    private DaprClient daprClient;
    private string newName;

    protected override async Task OnInitializedAsync()
    {
        daprClient = new DaprClientBuilder().Build();
        await GetNamesFromBackendAsync();
    }

    private async Task GetNamesFromBackendAsync()
    {
        try
        {
            var request = daprClient.CreateInvokeMethodRequest(HttpMethod.Get, "backend", "");
            var response = await daprClient.InvokeMethodWithResponseAsync(request);

            if (response.Content != null)
            {
                Console.WriteLine($"Received response {await response.Content.ReadAsStringAsync()}");
                names = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private async Task UpdateNamesInBackendAsync()
    {
        if (!string.IsNullOrEmpty(newName))
        {
            var newList = new List<string>();
            newList.AddRange(names);
            newList.Add(newName);
            var request = daprClient.CreateInvokeMethodRequest<IEnumerable<string>>(HttpMethod.Post, "backend", "", newList);
            await daprClient.InvokeMethodAsync(request);
            await GetNamesFromBackendAsync();
        }
    }
}
